{% extends  "csgo-base.twig.html" %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript" src="./js/buddy.js"></script>
{% endblock %}

{% block content %}
	<span style="display:none" id="me">{{netid}}</span>
	<div class = "container-fluid {#d-flex flex-column flex-fill#}">
		<div class="row">
			<div class="offset-md-2 col-md-8 outline-green">
				<div class="spacer"></div>
				<h1 class="title">Buddy System</h1>
				<p>
					These cells meet virtually once per week and are responsible for making sure that their buddies are ok, and either reporting serious issues, or directly getting help for those who need it.
				</p>
				<p> 
					Please email one another or use the provided chat system below (which currently requires reloading the page for new messages) to set up a weekly meeting time; this page will be updated with more information soon! 
				</p>
				<p> <b>30 Mar. </b> Minor group changes may still occur for a few days, to take into account new constraints.</p>
				<div class="spacer"></div>
			</div>
		</div>

			{% if buddies is empty %}
				<h2 class="text-center">You have not been assigned to a cell.</h2>
			{% else %}
				
			<h2 class="text-center" style="margin-top:15px;">Your Cell</h2>
			<div class="row flex-fill custom-dark-bg justify-content-center">
				{# <div class=''> #}
					
					{% for buddy in buddies %}
						<div class="mb-4 card text-white bg-dark">
							<div class="card-img-top">
								<img src="https://www.cs.cornell.edu/sites/default/files/styles/icon-100x100/public/{{buddy.netid}}_{{buddy.fname|lower}}_{{buddy.lname|lower}}.jpg" style="width:200px; height:200px" alt="">
							</div>
							<div class="card-body">
								{{buddy.fname}} {{buddy.lname}} 
								<br>
								<a href="mailto:{{buddy.netid}}@cornell.edu"> {{buddy.netid}}</a>
							</div>
							<div class="card-footer">
								{% if buddy.last_online is null %}
									(has not opened page)
								{% else %}
									last visit:
									{{buddy.last_online| date('D d M')}}
								{% endif %}
							</div>
						</div>
						
					{% endfor %}
				{# </div> #}
			</div>
			
		<div class="spacer"></div>
		<div class="spacer"></div>
		
		<div class="row">
			<div class="offset-lg-2 col-lg-8">
				<div class="row"><div class="col-12">
						<textarea id="composeTextArea" rows="8" class="form-control"></textarea>
				</div></div>
				<div class="d-flex justify-content-end">
					<div class="" style="padding-top:7px; margin-right:16px; display:none;">
						
						<input class="form-check-input" type="checkbox" name="mailCheck" id="mailCheck" value="email" checked>
						<label class="form-check-label" for="mailCheck">Send as Email</label>
					</div>
					<div class="">
						<button type="button" id="sendB" class="btn btn-block btn-dark" style="=height:100%;">SEND</button> 
					</div>
						
				</div>

				<div id="message_div">
				{% for log in messages %}<small class="timestamp">{{log.ts}}</small>
					<p class='message timestamped'> <b>{{log.sender}}: </b> {{ log.data }} </p> 
				{% endfor %}
				</div>
			</div>

			<div class="col-12 spacer"></div>
			<div class="col-12 spacer"></div> 
		
		</div>
		<div class="row">
				<h2 class="offset-sm-2 col-sm-8 text-center" style="color:gray;">more to come...</h2>
			{% endif %}
		</div>
		<div class="col-12 spacer"></div> 
	</div>
{% endblock %}

{% block unauthenticated %}
	<div class="spacer"></div>
	<h1 class="title">Buddy System</h1>
	<p>
		These cells meet virtually once per week and are responsible for making sure that their buddies are ok, and either reporting serious issues, or directly getting help for those who need it.
	</p>
	<h2 style="color:#950;">You are not authenticated!</h2>
	  
{% endblock %}
